@font-face {
    font-family: 'mrseavessmallcapsregular';
    src: url('../fonts/mrseavessmallcapsregular-webfont.woff2') format('woff2'),
         url('../fonts/mrseavessmallcapsregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-variant: small-caps
}
