@font-face {
    font-family: 'mrseavessmallcapsregular';
    src: url('mrseavessmallcapsregular-webfont.woff2') format('woff2'),
         url('mrseavessmallcapsregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
