@font-face {
    font-family: 'mrseavessmallcapsregular';
    src: url('https://github.com/mythic-mods/mythic-mods.github.io/blob/main/css/fonts/mrseavessmallcapsregular-webfont.woff2') format('woff2'),
         url('https://github.com/mythic-mods/mythic-mods.github.io/blob/main/css/fonts/mrseavessmallcapsregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
