/* body */
body {
    color: white;
    background-color: #252525;
}


/* search bar */
#search-demo-container ul#results-container {
    background-color: #3f3f3f;
    /* border-left: 1px solid #e6cc80; */
}

ul#results-container a {
    color: #9d9d9d;
    background-color: transparent;
}

ul#results-container a:hover {
    color: white;
}

#search-demo-container a:hover {
    color: white;
}

#search-input {
    color: black;
    border-color: #e6cc80;
}


/* summary */
.summary {
    color: #808080;
    border-left: 5px solid #e6cc80;
    font-size:16px;
}


/* table of contents */
div#toc ul {
    background-color: #3f3f3f;
    border-color: #e6cc80;
}

div#toc >ul::before {
    color: #9d9d9d;
}


/* headers */
h3 {color: #ED1951; }
h4 {color: #808080; }


/* code blocks
.note code, .alert code, .warning code, div#toc code, h2 code, h3 code, h4 code {
    background-color: #3f3f3f;
    color: inherit;
}
*/

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: #252525;
    border-color: #e6cc80;
}

.nav > li > a:hover {
    background-color: #3f3f3f;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #252525;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #248EC2;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #252525;
    border-color: #e6cc80;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, a.fa.fa-home.fa-lg.navbar-brand:hover {
     color: #f0f0f0;
}

a.navbar-brand:hover {
  color: #f0f0f0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #3f3f3f;
    color: #ffffff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #248ec2 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #252525;
    border-color: #e6cc80;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #252525;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #3f3f3f;
    border-color: #e6cc80;
}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #fcfc0f;
}

li.sidebarTitle {
  margin-top:20px;
    font-weight:normal;
    font-size:130%;
    color: #e6cc80;
    margin-bottom:10px;
    margin-left: 5px;

}


/* collapsed navbar */
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #3f3f3f;
}

.navbar-inverse .navbar-toggle {
    border-color: #e6cc80;
}


/* footer */
.footer {
    color: #9d9d9d;
}


.bs-callout code {
    background-color: #3f3f3f;
}
